[submodule "BGFX/bgfx"]
	path = BGFX/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "BGFX/bx"]
	path = BGFX/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "BGFX/bimg"]
	path = BGFX/bimg
	url = https://github.com/bkaradzic/bimg.git
